* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.green, .red, .blue, .black {
    width: 100px;
    height: 100px;
    position: absolute;
}


.green {
    background-color: green;
    z-index: 4;
    top: 15px;
    left: 15px;  
}

.red {
    background-color: red;
    z-index: 5;
    top: 20px;
    left: 20px;
}

.blue {
    background-color: blue;
    z-index: 3;
    top: 10px;
    left: 10px;
}

.black {
    background-color: black;
    z-index: 1;
    top: 15px;
    left: 10px;
}

.ass-2 {
    background-color: #eee;
    margin: 200px auto;
    width: 400px;
    padding: 15px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-left: 2px rgb(0, 96, 185) solid;
    border-right: 2px rgb(0, 96, 185) solid; 
    position: relative;
} 

.ass-2 span {
    padding: 4px 15px;
    position: absolute;
    background-color:  rgb(0, 96, 185);
    color: white;
}

.top-left { 
    top: -20px;
    left: -20px;
    border-right: 3px red solid;

}

.bottom-left {
    bottom: -20px;
    left: -20px;
    border-right: 3px red solid;
} 
.top-right {
    top: -20px;
    right: -20px;
    border-left: 3px red solid;
}
.bottom-right {
    bottom: -20px;
    right: -20px;
    border-left: 3px red solid;

}

ul.parent {
    margin-left: 20px;
    list-style: none; 
    width: 50vw;
    
}

ul > li > ul {
    list-style-type:circle; 
}

li {
    background-color: #eee;
    margin: 10px;    
    padding: 10px;
 
} 

ol li, ul ul li {
    background-color: rgb(255, 255, 255);
}



table {
    width: 90%;    
    margin: 90px auto;
    box-shadow: 1px 1px 5px 1px rgb(156, 156, 156);
    border-bottom: 2px solid rgb(0, 98, 163);
}

table thead th {
    background-color: #4d4d4d; 
    color: white; 
    padding: 15px 10px;
}

table td {
    padding: 5px;
    text-align: center;
    background-color: #eee;
    font-size: 16px;
    font-weight: 550;
}



table img {
   width: 50px; 
   box-shadow: 1px 1px 10px 0px rgb(175, 175, 175);
    border-radius: 5px;
} 

tbody td p {
    display: inline-block;
    background-color: #ff2121;
    color: white;
    padding: 7px;
    font-weight: 600;
    border-radius: 2px;
    margin: 0px 10px;
}
tbody td p:nth-child(1) {
    background-color: #005892;
}
